{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}

<div>
    <h4>{{error}}</h4>
    
    <div class="tenor-gif-embed" data-postid="6136227" data-share-method="host" data-aspect-ratio="1.77" data-width="40%"><a href="https://tenor.com/view/hate-hacker-crap-gif-6136227">Hate Hacker GIF</a>from <a href="https://tenor.com/search/hate-gifs">Hate GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    
    <a class="btn btn-sm btn-warning" href="/">Back to homepage!</a>
    
    <ul id="messagecontainer"></ul>
    
    <p>Thanks for browsing!</p>
    
</div>

    
{%endblock%}
