{% extends "base.html" %}
{% block title %} Welcome to your User hub! {% endblock %}
{% block content %}
<div id="userpagecontainer">
<div id="secretcontainer">
    <h3 class="text-primary">User Infomation for {{user.username}}</h3>
    <h5><i class="text-primary">First name: </i> {{user.first_name}}</h5>
    <h5><i class="text-primary">Last name: </i> {{user.last_name}}</h5>
    <h5><i class="text-primary">Email: </i> {{user.email}}</h5>
    <div id="secretcontainer">
        <h3>You made it!</h3>
        <div class="tenor-gif-embed" data-postid="26462584" data-share-method="host" data-aspect-ratio="2.42424" data-width="100%"><a href="https://tenor.com/view/lord-of-the-rings-frodo-alright-then-keep-your-secrets-smiling-gif-26462584">Lord Of The Rings Frodo GIF</a>from <a href="https://tenor.com/search/lord+of+the+rings-gifs">Lord Of The Rings GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <a id="usersubmitbtn" class="btn btn-lg btn-dark" href="/logout" type="submit">Logout</a>
        <span></span>
        <form action="/users/{{user.username}}/delete" method="POST">
        <button id="deleteuserbtn" class="btn btn-lg btn-danger ">Delete user</button>
        </form>
        <p>Thanks for browsing!</p>
    </div>
</div>

<div id="feedbackcontainer">
    <h3 class="text-primary text-decoration-underline">Feedback by {{user.username}}</h3>
    {% for fb in user_feedback  %}
    <h5><b class="text-primary">{{fb.title}}</b></h5>
    <p>
        {{fb.content}}
    </p>
    <a class="badge rounded-pill text-bg-info" href="/feedback/{{fb.id}}/update">Edit me!</a>
    <form style="display: inline;" action="/feedback/{{fb.id}}/delete" method="POST">
        <button class="badge rounded-pill text-bg-danger ">Delete me!</button>
        </form>
    {% endfor %} 
</div>


</div>    
{%endblock%}



